@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.portfolio-logo {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  border-style: solid;
  border-width: 2px;
  border-color: #4b6cc1;
  padding-left: 10px;
  padding-right: 10px;
}

.banner-section-bg-container {
  background-color: #191a1d;
  height: 100vh;
}

.banner-section-heading {
  color: white;
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 300;
}

.banner-section-description {
  color: #9aa5b1;
  font-family: "Roboto";
  font-size: 24px;
}

.banner-section-image {
  width: 280px;
  margin-bottom: 10px;
}

.person-name {
  color: #4b6cc1;
}

.custom-button {
  color: white;
  background-color: #4b6cc1;
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
}

.about-me-section {
  background-color: #323f4b;
}

.about-me-section-sub-heading {
  color: #cced00;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
}

.about-me-section-heading {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: bold;
}

.about-me-section-description {
  color: #9aa5b1;
  font-size: 16px;
  font-family: "Roboto";
}

.about-me-section-image {
  width: 100%;
}

.skills-section {
  background-color: #1f2933;
}

.skills-section-sub-heading {
  color: #cced00;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
}

.skills-card {
  background-color: #323f4b;
  border-radius: 8px;
  padding: 10px;
}

.skills-card-image {
  width: 64px;
  height: 64px;
}

.skills-card-title {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.portfolio-container {
  background-color: #3e4c59;
}

.sub-heading {
  color: #cced00;
  font-size: 32px;
  font-weight: 500;
}

.heading {
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
}

.web-design-card {
  background-color: #323f4b;
  border-radius: 10px;
  margin-bottom: 20px;
}

.website-card {
  width: 100%;
}

.website-card-sub-heading {
  color: #9aa5b1;
  font-size: 20px;
  padding: 20px;
  font-family: "Roboto";
}

.website-card-heading {
  color: #ffffff;
  font-family: "Roboto";
  padding-left: 20px;
}

.website-card-desctiption {
  color: #9aa5b1;
  font-family: "Roboto";
  padding-left: 20px;
  font-size: 30px;
}

.navigation-to-another {
  color: #cced00;
  font-weight: 600;
  font-size: 20px;
  padding-left: 20px;
}

.services-section {
  background-color: #52606d;
}

.services-section-sub-heading {
  color: #cced00;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
}

.services-section-heading {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: bold;
}

.services-card {
  background-color: #323f4b;
  border-radius: 8px;
  padding: 20px;
}

.services-card-image {
  height: 48px;
  width: 48px;
}

.services-card-title {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
}

.services-card-description {
  color: #9aa5b1;
  font-family: "Roboto";
  font-size: 20px;
}

.portfolio-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
  width: 100%;
  background-size: cover;
}

.project-logo {
  color: #ffffff;
}

.project-status {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
}

.project-pending {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 22px;
}

.portfolio-website {
  background-color: #0d2436;
}

.profolio-profile-image {
  height: 100px;
  width: 100px;
  border-radius: 60px;
}

.profile-name {
  color: #cced00;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 23px;
}

.profile-designation {
  color: #9aa5b1;
  font-weight: 500;
  font-family: "Roboto";
  font-size: 16px;
}

.icon {
  font-size: 20px;
  color: #5a7184;
}

.footer-section {
  color: #ffffff;
  text-align: center;
  background-color: #001c32;
  padding: 10px;
  font-size: 20px;
}

.sub-heading {
  color: #cced00;
  font-size: 22px;
  font-weight: 800;
  font-family: "Roboto";
}

.main-heading {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto";
  font-size: 38px;
}

.logo-image {
  width: 100px;
  height: 100px;
  border-radius: 60px;
}

.para-description {
  color: #9aa5b1;
  font-weight: 500;
  font-family: "Roboto";
  font-size: 20px;
}

.portfolio-carousel {
  background-color: #323f4b;
  padding: 20px;
  height: 100%;
}

.name-of-ceo {
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 600;
}
