.todo-card {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
  background-size: cover;
  height: 100vh;
}
.todo-card-header {
  text-align: center;
}

.todo-card-footer {
  text-align: center;
}
